html {
  	box-sizing: border-box;
}

*, *:before, *:after {
	-webkit-appearance: none;
	margin: 0;
	padding: 0;
  	box-sizing: inherit;
}

h1 {
	font-size: 1.5em;
	margin: 1em 0 .5em;
	font-weight: normal;
	font-style: italic;
	font-family: 'Hoefler Text' Baskerville Baskerville old face Garamond Times New Roman serif;
	text-align: center;
}

body {
	color: #333;
	background-color: #f6f4f2;
	font-family: 'Avenir Next' 'Lato' Helvetica Neue Helvetica Arial sans-serif;
	font-size: 1em;
	line-height: 140%;
}

.content--form {
	max-width: 480px;
	width: 100%;
	min-width: 320px;
	margin: 0 auto 30px auto;
	padding: 15px;
	border: solid 1px #7e7e7e;
	border-radius: 3px;
	background-color: #fff;
}

.content--image {
	text-align: center;
}

img {
	max-width: 100%;
	height: auto;
}

form {
	padding: 1em 0;
}

fieldset {
	border: 0;
}

label {
	display: block;
	margin-bottom: 3px;
}

input[type=text] {
	width: 100%;
	padding: 8px;
	font-size: 1em;
	border: solid 1px #bebebe;
	border-radius: 3px;
	outline: 0;
	margin-bottom: 1em;
}

input[type=text]:focus {
	border: solid 1px #7e7e7e;
}

a {
	color: #ff008a;
	text-decoration: none;
}

a:hover {
	text-decoration: none;
	border-bottom: solid 1px #ff008a;
}

.buttons {
	text-align: center;
}

button {
	background: #ff008a;
	color: #fff;
	border: solid 1px transparent;
	border-radius: 3px;
	text-align: center;
	text-transform: uppercase;
	font-size: 1em;
	padding: .5em 1em;
}

button:hover {
	cursor: pointer;
	background: #ce1b7c;
}
